<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="layui-header" th:fragment="header-nav">
  <a href="index.html">
    <div class="layui-logo">仓储管理系统</div>
  </a>
  <ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
      <a href="javascript:;" th:text="${user} ? ${user.userUsername} : 匿名用户">
		贤心
      </a>
      <dl class="layui-nav-child">
        <dd><a href="change-password.html">修改密码</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item"><a href="/logout" th:href="@{/logout}">退出登录</a></li>
  </ul>
</div>
</body>

